$color-brand-pumpkin: hsl(22, 82, 54);
$color-brand-yellow: hsl(40, 95, 57);
$color-brand-turquoise: hsl(169, 50, 59);
$color-brand-teal: hsl(190, 62, 46);
$color-brand-blue: hsl(205, 100, 36);
$color-brand-violet: hsl(238, 35, 50);
$color-brand-purple: hsl(300, 45, 41);
$color-brand-magenta: hsl(330, 79, 44);
$color-brand-red: hsl(350, 80, 47);
